[submodule "zsh/plugins/oh-my-zsh"]
	path = zsh/.zsh/plugins/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/.zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/.zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim/vim-plug"]
	path = vim/vim-plug
	url = https://github.com/junegunn/vim-plug.git
