add_newline = false

[line_break]
disabled = true

[kubernetes]
# symbol = "âˆ "
symbol = ""
style = "blue"
disabled = false
[kubernetes.context_aliases]
"dev.local.cluster.k8s" = "dev"

[username]
show_always = true
disabled = false

[conda]
disabled = true
[crystal]
disabled = true
[dart]
disabled = true
[docker_context]
disabled = true
[dotnet]
disabled = true
[elixir]
disabled = true
[elm]
disabled = true
[env_var]
disabled = true
[erlang]
disabled = true
[git_status]
disabled = true
[helm]
disabled = true
[java]
disabled = true
[julia]
disabled = true
[nim]
disabled = true
[nix_shell]
disabled = true
[nodejs]
disabled = true
[package]
disabled = true
[ocaml]
disabled = true
[perl]
disabled = true
[php]
disabled = true
[ruby]
disabled = true
[rust]
disabled = true
[singularity]
disabled = true
[swift]
disabled = true
[terraform]
disabled = true
[zig]
disabled = true
[purescript]
disabled = true
[cmd_duration]
disabled = true
[cmake]
disabled = true
[aws]
disabled = true
[gcloud]
disabled = true

[battery]
disabled = false

[[battery.display]]
threshold = 20
style = "bold red"
